.h1-header {
  text-align: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

.section {
  display: flex;
  border: 1px solid black;
  width: 300px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 5px 5px 5px;
}

.section-p {
  margin-right: 15px;
}
